html
    head
        title Express
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2= title
        p= msg
        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="Username" name="username",id="password").form-control
            label(for="password") Password
            input(type="password", placeholder="Password",name="password" id="password").form-control
            br
            input(type="submit" value="submit").btn.btn-primary

        p Don't have an account?
            a(href="/auth/register") register here
