html
    head
        title Express
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2 Welcome to Brodway
        p Please provide necessary details to register
        form(method="POST").form-group
            label(for="name") Name
            input(type="text",placeholder="Name" name="name",id="password").form-control
            label(for="email") Email
            input(type="email", placeholder="Email",name="email" id="password").form-control
            label(for="username") Username
            input(type="text",placeholder="Username" name="username",id="password").form-control
            label(for="password") Password
            input(type="password", placeholder="Password",name="password" id="password").form-control
            br
            input(type="submit" value="submit").btn.btn-primary

        p Already Registered?
            a(href="/auth/login") login here
